:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(233, 233, 233, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #53f290;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 2rem auto 0.8rem auto;
  text-align: center;
}
h2{
  text-align: center;
  margin:  auto 0 auto;
}

ul, ol{
  list-style: none;
  padding-left: 0;
  
}

li{
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid grey;
}

.aluno-form{
  background-color: rgb(213, 213, 213);
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgb(135, 135, 135) 6px 5px 3px;
}

.lista-alunos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

input{
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  width: 80%;
  max-width: 250px;
  margin-bottom: 15px;

  transition: all 0.3 ease;
}

input:focus{
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 0 2px #646cff;
}
input:invalid{
  border-color: #e74c3c;
}
input::placeholder{
  color: #999;
  font-style: italic;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display: block;
  width: 80%;
  max-width: 200px;
  margin: 0.3rem auto;
  
}

button:hover {
  border-color: #8b4304;
}

.button-cadastrar:hover{
  border-color: #bc5800;
}

.botao-deletar{
  border-color: rgb(255, 87, 87);
}
.botao-deletar:hover{
  border-color: rgb(131, 0, 0);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 1200px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
